.title {
  font-weight: 500;
  letter-spacing: -0.1px;
  font-size: 22px;
}

.paper {
  border-radius: 8px;
}

.iconsContainer {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    position: relative;
    top: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
